{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Breed Locator{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/breed.css' %}?v=1" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/breed.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="{% block bodycss %}layout-light{% endblock %}">
      <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
      </div>  
      {% block body %}
      <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
          <nav class="navbar-color gradient-45deg-green-teal gradient-shadow">
            <div class="nav-wrapper">
              <div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
                {% if not hide_search %}
                  <form role="search" action="{% url 'search' %}">
                      <i class="material-icons">search</i>
                      <input type="text" name="q" class="header-search-input z-depth-2" placeholder="Explore ..." />
                  </form>
                {% endif %}
              </div>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                    <span class="avatar-status avatar-online">
                      <img src="{{ request.user.profile.get_picture }}" alt="avatar">
                      <i></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div id="main">
        <div class="wrapper">
          <aside id="left-sidebar-nav" class="nav-collapsible nav-collapsed">
            <div class="brand-sidebar">
              <h1 class="logo-wrapper">
                <a href="{% url 'home' %}" class="brand-logo darken-1">
                  <span class="logo-text hide-on-med-and-down">BREED LOCATOR</span>
                </a>
                <a href="#" class="navbar-toggler">
                  <i class="material-icons">radio_button_checked</i>
                </a>
              </h1>
            </div>
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
              <li class="no-padding">
                <ul class="collapsible" data-collapsible="accordion">

                  <li class="bold"><a href="{% url 'add' %}"><i class="fa fa-plus"></i> <span class="nav-text">{% trans 'Add Breed' %}</span></a></li>
                  <li class="bold"><a href="{% url 'profile' user.username %}"><i class="fa fa-rss"></i> <span class="nav-text">{% trans 'Your Breeds' %}</span></a></li>
                  <li class="bold"><a href="{% url 'inbox' %}"><i class="fa fa-envelope"></i> <span class="badge pull-right" id="unread-count">0</span><span class="nav-text">{% trans 'Chat' %}</span></a></li>
                  {% comment %} <li><a href="{% url 'statistics' %}"><span class="fa fa-bar-chart-o "></span> {% trans 'Statistics' %}</a></li> {% endcomment %}
                  <li class="bold"><a href="{% url 'questions' %}"><i class="fa fa-bullhorn"></i> <span class="nav-text">{% trans 'Ask A Doctor' %}</span></a></li>
                  <li class="bold"><a href="{% url 'network' %}"><i class="fa fa-group"></i> <span class="nav-text">{% trans 'Network' %}</span></a></li>
                  <li class="bold"><a href="{% url 'notifications' %}"><i class="fa fa-bell"></i>  <span class="nav-text">{% trans 'Notifications' %}</span></a></li>
                  <li class="bold"><a href="{% url 'settings' %}"><i class="fa fa-gears"></i> <span class="nav-text">{% trans 'Account Settings' %}</span></a></li>
                  <li class="li-hover">
                    <p class="ultra-small margin more-text">MORE</p>
                  </li>
                  <li class="bold"><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> <span class="nav-text">{% trans 'Log out' %}</span></a></li>
                </ul>
              </li>
            </ul>
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-shadow">
              <i class="material-icons">menu</i>
            </a>
          </aside>
         <section id="content">
            <div class="container">
                {% block main %}
                {% endblock main %}
            </div>
          </section>

        </div>
      </div>

      <script src="{% static 'js/notifications.js' %}"></script>
      <script src="{% static 'js/check_messages.js' %}"></script>

    {% endblock body %}

    {% block script %}{% endblock %}
    <script src="{% static 'js/ga.js' %}"></script>
  </body>
</html>
