{% load i18n %}
{% load humanize %}

<li breed-id="{{ breed.pk }}" csrf="{{ csrf_token }}">
  <div class="breed-container">
    <a href="{% url 'profile' breed.user.username %}"><img src="{{ breed.user.profile.get_picture }}" class="user"></a>
    <div class="breed">
      {% if breed.user == user %}
        <span class="glyphicon glyphicon-remove remove-breed" title="{% trans 'Click to remove this breed' %}"></span>
      {% endif %}
      <h3><a href="{% url 'profile' breed.user.username %}">{{ breed.user.profile.get_screen_name }}</a> <small>{{ breed.date|naturaltime }}</small></h3>
      <p>{{ breed.sex }} from <span class="glyphicon glyphicon-map-marker"></span> {{ breed.location }}</p>
      <p><img src="{{ breed.photo.url }}" style="max-height:350px;"></p>
      <p>{{ breed.linkfy_breed|safe }}</p>
      <div class="interaction">
        {% if breed.user == request.user %}
          <a href="{% url 'find' breed.id %}" class="btn btn-info">
            <span class="text">Find Matches</span>
          </a>
        {% endif %}
        {% if user in breed.get_matchers %}
          <a href="#" class="">
            <span class="match-count">{{ breed.matches }}</span>
            <span class="text">{% trans 'Unmatch' %}</span>
          </a>
        {% else %}
          <a href="#" class="">
            <span class="match-count">{{ breed.matches }}</span>
            <span class="text">{% trans 'Matches Made' %}</span>
          </a>
        {% endif %}
        <a href="#" class="comment">
          <span class="glyphicon glyphicon-comment"></span> {% trans 'Group Chat' %}
          (<span class="comment-count">{{ breed.comments }}</span>)
        </a>
        <a href="{% url 'breed' breed.id %}" class="pull-right">
          <span class="text">View</span>
        </a>
      </div>
      <div class="comments">
        <form role="form" method="post" action="{{ comment }}" onsubmit="return false">
          {% csrf_token %}
          <input type="hidden" name="breed" value="{{ breed.pk }}">
          <input type="text" class="form-control input-sm" placeholder="{% trans 'Write a comment...' %}" name="post" maxlength="255">
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load breed comments {% endcomment %}
        </ol>
      </div>
    </div>
  </div>
</li>
