{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Questions{% endblock %}

{% block head %}
  <link href="{% static 'css/questions.css' %}" rel="stylesheet">
  <script src="{% static 'js/questions.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'ask' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-bullhorn"></span> {% trans "Ask Question" %}
    </a>
    <h1>{% trans "Questions" %}</h1>
  </div>
  <div class="questions">
    <ul class="tabs">
      <li class="tab"><a class="{% if active == 'unanswered' %}active{% endif %}" href="{% url 'unanswered' %}">{% trans "Unanswered" %}</a></li>
      <li class="tab"><a class="{% if active == 'answered' %} active{% endif %}" href="{% url 'answered' %}">{% trans "Answered" %}</a></li>
      <li class="tab"><a class="{% if active == 'all' %} active{% endif %}" href="{% url 'all' %}">{% trans "All Questions" %}</a></li>
    </ul>
    {% for question in questions %}
      {% include 'partial_question.html' with question=question %}
    {% empty %}
      <h4 class="no-data">{% trans "No question to display" %}</h4>
    {% endfor %}
    {% include 'paginator.html' with paginator=questions %}
  </div>
{% endblock main %}