{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block bodycss %}cyan{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col s12 m4 offset-m4">
          <div id="login-page" class="row">
            <div class="z-depth-4 card-panel">
                <div class="row">
                  <div class="input-field col s12 center">
                    {% if form.non_field_errors %}
                      {% for error in form.non_field_errors %}
                        <div id="card-alert" class="card purple lighten-5">
                          <div class="card-content purple-text">
                            <p>{{ error }}</p>
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                    <p class="center login-form-text">Create An Account</p>
                  </div>
                </div>
                <form action="{% url 'signup' %}" method="post" role="form">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in form.visible_fields %}
                          <div class="form-group">
                            <label for="{{ field.label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                              <span class="help-block">{{ field.help_text|safe }}</span>
                            {% endif %}
                            {% for error in field.errors %}
                              <div class="error red-text">{{ error }}</div>
                            {% endfor %}
                          </div>
                        {% endfor %}
                        <div class="form-group">
                          <button type="submit" class="col s12 btn btn-primary btn-block">{% trans 'Create an account' %}</button>
                          
                        </div>
                    </fieldset>
                </form>
                <div class="row">
                  <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="{% url 'login' %}">{% trans 'I have an account! Log in' %}</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock body %}
