{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">
<script src="{% static 'raphael/raphael.min.js' %}"></script>
<script src="{% static 'morrisjs/morris.min.js' %}"></script>

{% endblock head %}

{% block main %}

  <div class="row" style="padding-top:80px;">
    <div class="col m8 offset-m2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Matches Made Per Breed
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>
  </div>

  <div class="row" style="padding-top:80px;">
    <div class="col m8 offset-m2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Matches Made Per Breed
            </div>
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
    </div>
  </div>

{% endblock main %}

{% block script %}
<script>
$(function() {

    Morris.Donut({
        element: 'morris-donut-chart',
        data: [
        {% for breed in breeds %}
        {
            label: "{{ breed.breed_type}}",
            value: {{ breed.matches }}
        },
        {% endfor %}
        ],
        resize: true
    });
    Morris.Area({
        element: 'morris-area-chart',
        data: [
        {
            period: '2018 Q1',
            "ankole": 1,
            "zebu": 3,
            "jersey": 5,
            "fresian": 2,
        },
        {
            period: '2019 Q1',
            "ankole": 5,
            "zebu": 7,
            "jersey": 6,
            "fresian": 4,
        },
        {
            period: '2020 Q1',
            "ankole": 7,
            "zebu": 2,
            "jersey": 9,
            "fresian": 6,
        },
        ],
        xkey: 'period',
        ykeys: [
        "ankole",
        "zebu",
        "jersey",
        "fresian",
        ],
        labels: [
        "descrition ankole",
        "descrition zebu",
        "descrition jersey",
        "descrition fresian",
        ],
        pointSize: 2,
        hideHover: 'auto',
        resize: true
    });    
});
</script>
{% endblock %}
