{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">
<script src="{% static 'raphael/raphael.min.js' %}"></script>
<script src="{% static 'morrisjs/morris.min.js' %}"></script>
<script src="{% static 'morrisjs/morris-data.js' %}"></script>

{% endblock head %}

{% block main %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

    </div>
  </div>



{% endblock main %}
