{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">
<script src="{% static 'raphael/raphael.min.js' %}"></script>
<script src="{% static 'morrisjs/morris.min.js' %}"></script>

{% endblock head %}

{% block main %}

  <div class="row" style="padding-top:80px;">
    <div class="col m8 offset-m2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Breed Analysis Chart
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>
  </div>

{% endblock main %}

{% block script %}
<script>
$(function() {

    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "Download Sales",
            value: 12
        }, {
            label: "In-Store Sales",
            value: 30
        }, {
            label: "Mail-Order Sales",
            value: 20
        }],
        resize: true
    });
    
});
</script>
{% endblock %}
